In [3]:
import pandas as pd


# Load data on National Names dataframe
national_df = pd.read_csv('../../data/raw/NationalNames.csv',delimiter=',')

# Load 4 parts of raw data on State Names dataframe
parts = list()
for i in range(1,5):
    path = f'../../data/raw/StateNames_{i}.csv'
    part = pd.read_csv(path,delimiter=',')
    parts.append(part)

state_df = pd.concat(parts,axis=0,ignore_index=True)

In [6]:
state_df.head(15)

   Id      Name  Year Gender State  Count
0   1      Mary  1910      F    AK     14
1   2     Annie  1910      F    AK     12
2   3      Anna  1910      F    AK     10
3   4  Margaret  1910      F    AK      8
4   5     Helen  1910      F    AK      7
5   6     Elsie  1910      F    AK      6
6   7      Lucy  1910      F    AK      6
7   8   Dorothy  1910      F    AK      5
8   9      Mary  1911      F    AK     12
9  10  Margaret  1911      F    AK      7

In [9]:
national_df.head(15)

   Id       Name  Year Gender  Count
0   1       Mary  1880      F   7065
1   2       Anna  1880      F   2604
2   3       Emma  1880      F   2003
3   4  Elizabeth  1880      F   1939
4   5     Minnie  1880      F   1746
5   6   Margaret  1880      F   1578
6   7        Ida  1880      F   1472
7   8      Alice  1880      F   1414
8   9     Bertha  1880      F   1320
9  10      Sarah  1880      F   1288