In [6]:
import pandas as pd

# Loading raw data
raw_data = pd.read_csv('../../data/raw/mars-weather.csv', delimiter=',')

# Display first 10 rows
raw_data.head(10)

,id,terrestrial_date,sol,ls,month,min_temp,max_temp,pressure,wind_speed,atmo_opacity
0,1895,2018-02-27,1977,135,Month 5,-77.0,-10.0,727.0,NaN,Sunny
1,1893,2018-02-26,1976,135,Month 5,-77.0,-10.0,728.0,NaN,Sunny
2,1894,2018-02-25,1975,134,Month 5,-76.0,-16.0,729.0,NaN,Sunny
3,1892,2018-02-24,1974,134,Month 5,-77.0,-13.0,729.0,NaN,Sunny
4,1889,2018-02-23,1973,133,Month 5,-78.0,-18.0,730.0,NaN,Sunny
5,1891,2018-02-22,1972,133,Month 5,-78.0,-14.0,730.0,NaN,Sunny
6,1890,2018-02-21,1971,132,Month 5,-78.0,-13.0,731.0,NaN,Sunny
7,1888,2018-02-20,1970,132,Month 5,-77.0,-16.0,731.0,NaN,Sunny
8,1887,2018-02-19,1969,131,Month 5,-76.0,-16.0,732.0,NaN,Sunny
9,1886,2018-02-18,1968,131,Month 5,-76.0,-19.0,732.0,NaN,Sunny